dataset/
yolo_predictions/
mobile_net/model_output
yolo_model/model_data
test/
yolo_model/out
/mobile_net/model_output/
/new_dataset/
/inception/model_output/
/resnet/model_output/
/inception/accuracy.png
/inception/history.json
/inception/history1.json
/inception/loss.png
/inception/loss_graph.py
/inception_resnet/accuracy.png
/inception_resnet/history.json
/inception_resnet/history1.json
/inception_resnet/loss.png
/inception_resnet/loss_graph.py
/mobile_net/accuracy.png
/mobile_net/history.json
/mobile_net/history1.json
/mobile_net/loss.png
/mobile_net/loss_graph.py
/resnet/accuracy.png
/resnet/history.json
/resnet/history1.json
/resnet/loss.png
/resnet/loss_graph.py
/GooglePhotosAPI/AlbumPhotos/
/GooglePhotosAPI/CroppedImages/
/GooglePhotosAPI/Photos/
/GooglePhotosAPI/credentials.json
/GooglePhotosAPI/GooglePhotos.json
/GooglePhotosAPI/token.pickle
